<div class="w-100">
  <button class="btn btn-primary mt-5" (click)="onInfoDivClick()">
    <span *ngIf="!infodiv">Load Data</span>
    <span *ngIf="infodiv">Hide Data</span>
  </button>
  <div class="w-100 d-flex mt-2">
    <div
      class="animation-div"
      [@componentLoading]="animationTriggered ? 'loaded' : 'notLoaded'"
    ></div>
  </div>

  <div *ngIf="infodiv">
    <div class="h3">Add Customer</div>
    <form
      class="example-form"
      [formGroup]="addCustomerForm"
      (ngSubmit)="onAddUser()"
    >
      <div class="d-flex align-items-center justify-content-around">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="Ex. Pizza"
            formControlName="firstName"
            type="text"
          />
          <mat-error
            *ngIf="
              isSubmited &&
              addCustomerForm.get('firstName')?.hasError('required')
            "
            >Write First Name</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Ex. Pizza"
            formControlName="lastName"
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-around">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            placeholder="Ex. Pizza"
            formControlName="email"
            type="text"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Custom calendar header</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-around">
        <mat-radio-group aria-label="Select an option" formControlName="sex">
          <h4><mat-label class="font-size-lg">sex</mat-label></h4>
          <div class="d-flex justify-content-around">
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="male">Male</mat-radio-button>
          </div>
        </mat-radio-group>
        <section class="example-section">
          <mat-checkbox class="example-margin">Agree</mat-checkbox>
        </section>
      </div>

      <button mat-raised-button color="primary">Add Customer</button>
    </form>

    <div class="h3 pt-5">
      Filter Table & Custom Directive color & custom Pipe
    </div>
    <mat-form-field appearance="standard" class="mx-5 w-75">
      <mat-label>Filter</mat-label>
      <input
        matInput
        placeholder="Search columns"
        #input
        [(ngModel)]="ColoredText"
        (keyup)="onFilterTable()"
      />
    </mat-form-field>
    <p appCustomStyle>{{ ColoredText | customTransform }}</p>
    <app-active-customers></app-active-customers>
    <p>App Version: {{ versionNumber }}</p>
  </div>
</div>
