<div class="w-100 d-flex flex-column align-items-center justify-content-center">
  <h5 class="h5">Hello It IS</h5>
  <div class="">ANGULAR PROJECT</div>
  <button class="btn btn-primary mt-5" (click)="onInfoDivClick()">
    <span *ngIf="!infodiv">Load Data</span>
    <span *ngIf="infodiv">Hide Data</span>
  </button>
  <div class="w-100 d-flex mt-2">
    <div
      class="animation-div"
      [@componentLoading]="animationTriggered ? 'loaded' : 'notLoaded'"
    ></div>
  </div>
</div>
<app-customers-wrapper *ngIf="infodiv"> </app-customers-wrapper>
<router-outlet></router-outlet>
